<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="footerFragment">

        <!-- Lightbox -->
        <div id="loginModal" class="lightbox-basic zoom-anim-dialog mfp-hide">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-12">
                    <h3>Log In</h3>
                    <hr class="line-heading">
                    <h6>로그인</h6>
                    <form id="loginForm" data-toggle="validator" data-focus="false" action="/" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="lemail" name="lemail" required>
                            <label class="label-control" for="lemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control-input" id="lpw" name="lpw" required >
                            <label class="label-control" for="lpw">비밀번호</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <a class="btn-outline-reg mfp-close as-button" href="join">회원가입</a>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">로그인</button>
                        </div>
                    </form>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of lightbox-basic -->
        <!-- end of lightbox -->

        <!-- Footer -->
    <div class="footer">
        <div class="container">
           <div class="row">
              <div class="col-md-2">
                   <div class="text-container">
                        <h4>Contect Us</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <span class="fa-stack">
                                    <a href="https://github.com/kgpaper/cafeIn">
                                        <span class="hexagon"></span>
                                        <i class="fab fa-github fa-stack-1x"></i>
                                    </a>
                                 </span>
                                <a class="white" href="https://github.com/kgpaper/cafeIn" target="_blank">DSC Team4 Github</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="https://www.notion.so/DSC-Pusan-National-Univ-1736fcf881454901add27a81e342ac56" target="_blank">DSC PNU</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=o2mj4l5fwu"></script>
    </th:block>

</html>