<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyDyVfll9Dbbi_ydN-JHV5LBzh5nMgaeZZ8",
    authDomain: "cafein2-91ce3.firebaseapp.com",
    projectId: "cafein2-91ce3",
    storageBucket: "cafein2-91ce3.appspot.com",
    messagingSenderId: "968556893439",
    appId: "1:968556893439:web:4409357311752560f1a8ca",
    measurementId: "G-8YV85D91DQ"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>