<!DOCTYPE HTML>
<html>
	<head>
		<title>Cafe'In</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>

	<body class="is-preload">

		<!-- Header -->
		    <header id="header">
    			<a class="logo" href="/">Cafe'IN</a>
	    		<nav>
		    		<a href="#menu">Menu</a>
			    </nav>
		    </header>

		<!-- Nav -->
    		<nav id="menu">
	    		<ul class="links">
		    		<li><a href="/">Home</a></li>
			    	<li><a href="/login">Login</a></li>
	    		</ul>
		    </nav>
        
        <!-- Banner -->
            <section id="cta" class="wrapper">
				<div class="inner">
					<h2>Cafe'In</h2>
					<p>주변 카페의 빈자리를 알아보고 예약하세요</p>
				</div>
			</section>

		<!-- Google Map -->
			<section class="wrapper">
				<div class="inner">
                    <header class="special">
						<h2>주변 카페의 빈자리를 확인하세요!</h2>
					</header>
					<header class="special">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3093.6780691699787!2d129.0797968254731!3d35.233423608896125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356893ed98632733%3A0x43d6042e21f10697!2z67aA7IKw64yA7ZWZ6rWQ!5e0!3m2!1sko!2skr!4v1604582278509!5m2!1sko!2skr" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </header>
				</div>
			</section>

		<!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <div class="content">
                        <section>
                            <h4>Connect Us</h4>
                            <ul class="plain">
                                <li><a href="https://github.com/kgpaper/cafeIn"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="copyright">
                        &copy; Cafe'IN <a href="https://www.notion.so/DSC-Pusan-National-Univ-1736fcf881454901add27a81e342ac56">DSC PNU</a>
                    </div>
                </div>
            </footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>