<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragment/css :: cssFragment"></th:block>

    <!-- Website Title -->
    <title>Cafe'in - index</title>
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <th:block th:replace="fragment/nav :: navFragment"></th:block>

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>카페 자리가 <span id="js-rotating">남았을까?, 꽉 찼을까?</span></h1>
                            <a th:if="${session.memberId != null}" class="btn-solid-lg page-scroll" href="search">카페 찾기</a>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->

    <th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
</html>