<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragment/css :: cssFragment"></th:block>
    <link href="css/seat1.css"  rel="stylesheet">
    <!-- Website Title -->
    <title>Cafe'in - Reserve</title>
</head>
<body data-spy="scroll" data-target=".fixed-top">

<th:block th:replace="fragment/nav :: navFragment"></th:block>

<!-- Reserve -->
<div id="reserve" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">예약하기</div>
                    <h2 class="white">할리스 경성대 1호점</h2>
                    <ul class="list-unstyled li-space-lg white">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">부산 남구 용소로 7 청라빌딩</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">총 12 자리</div>
                        </li>
                    </ul>
                </div>
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div>
                    <form action="/reserve" method="post">
                        <div class="seatcheck">
                            <input type="checkbox" id="seat1" name="checkbox">
                                <label for="seat1">
                                <div class="seat">1</div>
                            </label>
                            <input type="checkbox" id="seat2">
                            <label for="seat2">
                                <div class="seat">2</div>
                            </label>
                            <input type="checkbox" id="seat3">
                            <label for="seat3">
                                <div class="seat">3</div>
                            </label>
                            <input type="checkbox" id="seat4">
                            <label for="seat4">
                                <div class="seat">4</div>
                            </label>
                            <input type="checkbox" id="seat5">
                            <label for="seat5">
                                <div class="seat">5</div>
                            </label>
                            <input type="checkbox" id="seat6">
                            <label for="seat6">
                                <div class="seat">6</div>
                            </label>
                            <input type="checkbox" id="seat7">
                            <label for="seat7">
                                <div class="seat">7</div>
                            </label>
                            <input type="checkbox" id="seat8">
                            <label for="seat8">
                                <div class="seat">8</div>
                            </label>

                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">예약하기</button>
                        </div>
                    </form>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->
<!-- end of call me -->

<th:block th:replace="fragment/footer :: footerFragment"></th:block>

</body>
</html>