<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragment/css :: cssFragment"></th:block>
    <link href="css/seat.css"  rel="stylesheet">
    <style>
        *{
            box-sizing: border-box;
        }
        .float-box > div{
            float:left;
            width:50%;
        }
        .float-box::after{
            content:"";
            display: block;
            clear:both;
        }
        .float-box > .result {
            padding:0.5rem;
        }
    </style>
    <script src="js/seat.js"></script>
    <script>
        window.addEventListener("load", function(){
            var cinema = new Hacademy.Reservation("#cafeseat");
            cinema.addChangeListener(function(seat){
                print(this);
            });
            print(cinema);
            function print(app){
                document.querySelector(".result").textContent = app.getQueryString();
            }
        });
    </script>
    <!-- Website Title -->
    <title>Cafe'in - Reserve</title>
</had>
<body data-spy="scroll" data-target=".fixed-top">

<th:block th:replace="fragment/nav :: navFragment"></th:block>

<!-- Reserve -->
<div id="callMe" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">예약하기</div>
                    <h2 class="white">할리스 경성대 1호점</h2>
                    <ul class="list-unstyled li-space-lg white">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">부산 남구 용소로 7 청라빌딩</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">총 12 자리</div>
                        </li>
                    </ul>
                </div>
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div>
                    <form>
                        <div id="cafeseat" class="cinema-wrap" data-name="seat">
                            <div class="cinema-seat-area" data-rowsize="4" data-colsize="5" data-mode="client" data-fill="manual" data-seatno="visible">
                                <div class="cinema-seat" data-row="1" data-col="1"></div>
                                <div class="cinema-seat" data-row="1" data-col="2"></div>
                                <div class="cinema-seat" data-row="1" data-col="3" data-state="space"></div>
                                <div class="cinema-seat" data-row="1" data-col="4"></div>
                                <div class="cinema-seat" data-row="1" data-col="5"></div>
                                <div class="cinema-seat" data-row="2" data-col="1"></div>
                                <div class="cinema-seat" data-row="2" data-col="2" data-state="disabled"></div>
                                <div class="cinema-seat" data-row="2" data-col="3" data-state="space"></div>
                                <div class="cinema-seat" data-row="2" data-col="4" data-state="space"></div>
                                <div class="cinema-seat" data-row="2" data-col="5" data-state="space"></div>
                                <div class="cinema-seat" data-row="3" data-col="1" data-state="space"></div>
                                <div class="cinema-seat" data-row="3" data-col="2" data-state="space"></div>
                                <div class="cinema-seat" data-row="3" data-col="3" data-state="space"></div>
                                <div class="cinema-seat" data-row="3" data-col="4"></div>
                                <div class="cinema-seat" data-row="3" data-col="5"></div>
                                <div class="cinema-seat" data-row="4" data-col="1"></div>
                                <div class="cinema-seat" data-row="4" data-col="2"></div>
                                <div class="cinema-seat" data-row="4" data-col="3" data-state="space"></div>
                                <div class="cinema-seat" data-row="4" data-col="4"></div>
                                <div class="cinema-seat" data-row="4" data-col="5"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">예약하기</button>
                        </div>
                    </form>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->
<!-- end of call me -->

<th:block th:replace="fragment/footer :: footerFragment"></th:block>

</body>
</html>